/*Official Background color Hexidecimal #262524
  Ofiddical Text color rgb(236, 228, 213) or Hexidecimal  #ECE4D5\
  fuck shcoool

<a href="https://www.freepik.com/free-vector/vibrant-lines-black-background-vector_4043528.htm#query=background%20dark%20with%20neon%20yellow&position=49&from_view=search&track=ais&uuid=fb3ae1de-f4ff-48b8-a8f3-3b16fc703700">Image by rawpixel.com</a> on Freepik
  */




*{
    /* general page formating */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;  
    /*background-color: #262524;*/
}
#mainpagetext{
    /* text paragraph formatting */
    color: #ECE4D5;
    font-size: 25px;
    padding: 50px 10%;
    text-align: center;
    top:auto;
}
#bigname{
    /* font and position setup for page title */
    width:100%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: 300;
    position: absolute;
    z-index: 4;
    background-color: transparent;
    color:rgb(236, 228, 213);
    font-size: 6vw;
    margin-right:auto;
    margin-left:auto;
    left:0;
    right:0;
    top:450px; 
}
@media(max-width:1000px){
    #bigname{
        top:33vh;
    }
    
}
img{
    /* setup auto scale for image */
    object-fit: cover;
    max-height:100vh;
    top:0px;
    height:auto;
    width:100%;
} 
nav{
    /* setup position and behavior for navbar */
    z-index: 5;
    width: 100%;
    text-align: left;
    position:sticky;
    top: 0px;
}
.logo{
    /* setup position for logo */
    background: transparent;
    width: 50px;
    position: relative;
    left: 15px;
    top: 15px;
}
nav ul{
    /* describes look of list containing links */
    background: #000;
    width: 100%;
}
nav ul li{ 
    /* describes look and behavior of each link */
    background-color: transparent;
    text-size-adjust: auto;
    display: inline-block;
    padding: 0 5.2vw;
    margin: 2vh 2vw;
    color: #ffffff;
    cursor:pointer;

}
a{
    /* describes look of actual clickable link*/
    background-color: transparent;
}

#ZaBoard{
    color: #ECE4D5;
    text-align: center;
    font-size: 10vw;
    font-weight: 15;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

#projectsTitle{
    
    color: #ECE4D5;
    font-size: 10vw;
    font-weight: 15;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

#zaza{
    position: fixed;
    width: 100vw;
    height:100vh;
    background-image: url(images/MEGAMIND.JPG);
    background-size: 200px 50px;
    background-repeat: repeat;
}

.boardBlock{
    padding: 50px 75px;
    text-align: center;
    display: inline-block;
    background-color: #0f0f0f;
    border: 2px solid #ECE4D5;
}

.bPic{
    position: relative;
    width: 30vw;
    max-width: fit-content;
    height: auto;
    border: 2px solid #ECE4D5;
}

.names{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #ECE4D5;
    font-size: 4vw;
    background-color: #0f0f0f;
    border: 2px dotted #ECE4D5;
    
}

.description{
    color: #ECE4D5;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5vw;
    background-color: #0f0f0f;
    max-width: 30vw;
    border: 2px dotted #ECE4D5;
}

.content{
    text-align: center;
    /*  if want only for meet the board uncomment and comment in body
    background-size: cover;
    background: url(images/backGroundNeonReduced.png) top center repeat;
        */
}
.thing{
    display: flexbox;
    flex-direction: row;
    margin: 0 auto;
    padding: 5%;
    justify-content: space-evenly;
}

body{
    background-size: cover;
    background: url(images/backGroundNeonReduced.png) top center repeat;
    
}

